# Ignorar todos os diretórios e arquivos em um diretório.
winVenda/bin/*
winVenda/obj/*
winVenda.suo
winVenda/Reports/bin/*
winVenda/Reports/obj/*
!winVenda/bin/Debug/sql.sql
!winVenda/bin/Debug/MySql.Data.dll